body{
    margin: 0;
    font-family: Verdana, sans-serif;
}
.section{
    display: flex;
    justify-content:left;
}
.btn{
    border-radius: 30px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
.btn--primary{
    background: dodgerblue;
    color: white;
}
.btn--primary:hover {
    background: rgb(8, 123, 238);
}
.btn:active{
    background: darkblue;
}
